In [1]:
print("hello")

hello

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
# 시리즈를 생성할 때는 리스트를 전달한다.
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [4]:
# 시리즈를 생성할 때는 문자열 인덱스를 지정할 수 있다.
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person','Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [5]:
# 데이터프레임을 생성할 때는 딕셔너리를 이용해라
scientists = pd.DataFrame({
    'Name' : ['Darwin','Mary'],
    'Position' : ['Biology', 'Chemist'],
    'Nation' : ['England', 'Poland']
})

print(scientists)

     Name Position   Nation
0  Darwin  Biology  England
1    Mary  Chemist   Poland

In [6]:
# 데이터프레임을 인자에 딕셔너리를 전달해 생성하기
scientists = pd.DataFrame(
    data={'Position' : ['Biology', 'Chemist'],
            'Nation' : ['England', 'Poland']},
    index = ['C.Darwin','M.Curie'],
    columns = ['Nation','Position']
)

print(scientists)

           Nation Position
C.Darwin  England  Biology
M.Curie    Poland  Chemist

In [7]:
# OrderedDict 순서가 보장된 딕셔너리
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
      ('Name', ['C.Darwin','M.Curie']),
      ('Position', ['Biology', 'Chemist']),
      ('Nation', ['England','Belgium']),
      ('Born', [1902,1904])
]))

print(scientists)

       Name Position   Nation  Born
0  C.Darwin  Biology  England  1902
1   M.Curie  Chemist  Belgium  1904

In [8]:
# Series 선택하기 -> loc 속성에 인덱스 전달하기
scientists = pd.DataFrame(
    data = {
        'Position' : ['Biology','Chemist'],
        'Nation' : ['Nation','Position'],
        'Age' : [67, 33]
    },
    index = ['darwin', 'curie'])

In [9]:
# 시리즈 속성과 메서드 사용하기 - index, values, keys
first_row = scientists.loc['darwin']
print(first_row)
print(first_row.index) # 시리즈의 인덱스가 들어 있다.
print(first_row.values) # 시리즈의 데이터가 저장되어 있다.
print(first_row.keys()) # 시리즈의 인덱스를 리턴한다.
print(first_row.index[0]) # 시리즈의 첫 번째 인덱스 
print(first_row.keys()[0]) # 시리즈의 첫 번째 인덱스

Position    Biology
Nation       Nation
Age              67
Name: darwin, dtype: object
Index(['Position', 'Nation', 'Age'], dtype='object')
['Biology' 'Nation' 67]
Index(['Position', 'Nation', 'Age'], dtype='object')
Position
Position

In [10]:
# 열 추출, 시리즈를 구성하는 데이터가 정수라면 통계 메서드 사용 가능
age = scientists['Age']
print(age)
print(age.sum())
print(age.mean())
print(age.std())
print(age.min())
print(age.max())
print(age.describe()) # 요약 통계량

darwin    67
curie     33
Name: Age, dtype: int64
100
50.0
24.041630560342615
33
67
count     2.000000
mean     50.000000
std      24.041631
min      33.000000
25%      41.500000
50%      50.000000
75%      58.500000
max      67.000000
Name: Age, dtype: float64

In [11]:
scientists = pd.read_csv('../data/scientists.csv')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [12]:
ages = scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [13]:
# 평균 나이보다 나이가 많은 사람의 데이터를 추출
print(ages[ages > ages.mean()])

# 조건식 출력
print(ages > ages.mean())
print(type(ages > ages.mean()))

# 불린 추출 -> 리스트로 형태로 참이나 거짓을 담아 시리즈에 전달하면 참인 인덱스의 데이터만 추출할 수 있다.
manual_bool_values = [True,True,False,False,True,True,False,True]
print(ages[manual_bool_values])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
<class 'pandas.core.series.Series'>
0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [51]:
#브로드캐스팅 - 시리즈나 데이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 것을 뜻함.
#벡터 - 시리즈처럼 여러 개의 값을 가진 데이터
#스칼라 - 단순 크기를 나타내는 데이터
print(ages)

# 같은 길이의 벡터로 더하기 연산과 곱하기 연산을 수행. 결과값으로는 같은 길이의 벡터가 출력된다.
print(ages+ages)

# 벡터에 스칼라 연산 -> 벡터의 모든 값에 스칼라를 적용하여 브로드캐스팅 연산을 함
print(ages+100)

# 크기다 다른 벡터의 연산 -> 계산할 수 없는 부분은 NaN 누락값으로 처리한다.
print(ages + pd.Series([1,100]))

# sort_index 메서드를 사용, ascending 인자로 False를 전달하여 인덱스 연순으로 데이터를 정렬
rev_ages = ages.sort_index(ascending = False)
print(rev_ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [63]:
#벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행한다는 것을 잊지 말자.
print(ages)
print(rev_ages)
print(ages * 2)
print(ages + rev_ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64