In [1]:
print("hello")

hello

In [7]:
%matplotlib inline
import matplotlib.pyplot as plt

In [15]:
# 시리즈를 생성할 때는 리스트를 전달한다.
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [17]:
# 시리즈를 생성할 때는 문자열 인덱스를 지정할 수 있다.
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person','Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [19]:
# 데이터프레임을 생성할 때는 딕셔너리를 이용해라
scientists = pd.DataFrame({
    'Name' : ['Darwin','Mary'],
    'Position' : ['Biology', 'Chemist'],
    'Nation' : ['England', 'Poland']
})

print(scientists)

    Name Position   Nation
0  Dawin  Biology  England
1   Mary  Chemist   Poland

In [39]:
# 데이터프레임을 인자에 딕셔너리를 전달해 생성하기
scientists = pd.DataFrame(
    data={'Position' : ['Biology', 'Chemist'],
            'Nation' : ['England', 'Poland']},
    index = ['C.Darwin','M.Curie'],
    columns = ['Nation','Position']
)

print(scientists)

           Nation Position
C.Darwin  England  Biology
M.Curie    Poland  Chemist

In [37]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
      ('Name', ['C.Darwin','M.Curie']),
      ('Position', ['Biology', 'Chemist']),
      ('Nation', ['England','Belgi]
      ('Born', [1902,1904])
]))