In [1]:
print("hello")

hello

In [7]:
%matplotlib inline
import matplotlib.pyplot as plt

In [15]:
# 시리즈를 생성할 때는 리스트를 전달한다.
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [17]:
# 시리즈를 생성할 때는 문자열 인덱스를 지정할 수 있다.
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person','Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [19]:
# 데이터프레임을 생성할 때는 딕셔너리를 이용해라
scientists = pd.DataFrame({
    'Name' : ['Darwin','Mary'],
    'Position' : ['Biology', 'Chemist'],
    'Nation' : ['England', 'Poland']
})

print(scientists)

    Name Position   Nation
0  Dawin  Biology  England
1   Mary  Chemist   Poland

In [39]:
# 데이터프레임을 인자에 딕셔너리를 전달해 생성하기
scientists = pd.DataFrame(
    data={'Position' : ['Biology', 'Chemist'],
            'Nation' : ['England', 'Poland']},
    index = ['C.Darwin','M.Curie'],
    columns = ['Nation','Position']
)

print(scientists)

           Nation Position
C.Darwin  England  Biology
M.Curie    Poland  Chemist

In [47]:
# OrderedDict 순서가 보장된 딕셔너리
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
      ('Name', ['C.Darwin','M.Curie']),
      ('Position', ['Biology', 'Chemist']),
      ('Nation', ['England','Belgium']),
      ('Born', [1902,1904])
]))

print(scientists)

       Name Position   Nation  Born
0  C.Darwin  Biology  England  1902
1   M.Curie  Chemist  Belgium  1904

In [89]:
# Series 선택하기 -> loc 속성에 인덱스 전달하기
scientists = pd.DataFrame(
    data = {
        'Position' : ['Biology','Chemist'],
        'Nation' : ['Nation','Position'],
        'Age' : [67, 33]
    },
    index = ['darwin', 'curie'])

In [91]:
# 시리즈 속성과 메서드 사용하기 - index, values, keys
first_row = scientists.loc['darwin']
print(first_row)
print(first_row.index) # 시리즈의 인덱스가 들어 있다.
print(first_row.values) # 시리즈의 데이터가 저장되어 있다.
print(first_row.keys()) # 시리즈의 인덱스를 리턴한다.
print(first_row.index[0]) # 시리즈의 첫 번째 인덱스 
print(first_row.keys()[0]) # 시리즈의 첫 번째 인덱스

Position    Biology
Nation       Nation
Age              67
Name: darwin, dtype: object
Index(['Position', 'Nation', 'Age'], dtype='object')
['Biology' 'Nation' 67]
Index(['Position', 'Nation', 'Age'], dtype='object')
Position
Position

In [107]:
# 열 추출, 시리즈를 구성하는 데이터가 정수라면 통계 메서드 사용 가능
age = scientists['Age']
print(age)
print(age.sum())
print(age.mean())
print(age.std())
print(age.min())
print(age.max())
print(age.describe()) # 요약 통계량

darwin    67
curie     33
Name: Age, dtype: int64
100
50.0
24.041630560342615
33
67
count     2.000000
mean     50.000000
std      24.041631
min      33.000000
25%      41.500000
50%      50.000000
75%      58.500000
max      67.000000
Name: Age, dtype: float64

count     2.000000
mean     50.000000
std      24.041631
min      33.000000
25%      41.500000
50%      50.000000
75%      58.500000
max      67.000000
Name: Age, dtype: float64