In [1]:
print("hello")

hello

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
# 시리즈를 생성할 때는 리스트를 전달한다.
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [4]:
# 시리즈를 생성할 때는 문자열 인덱스를 지정할 수 있다.
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person','Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [5]:
# 데이터프레임을 생성할 때는 딕셔너리를 이용해라
scientists = pd.DataFrame({
    'Name' : ['Darwin','Mary'],
    'Position' : ['Biology', 'Chemist'],
    'Nation' : ['England', 'Poland']
})

print(scientists)

     Name Position   Nation
0  Darwin  Biology  England
1    Mary  Chemist   Poland

In [6]:
# 데이터프레임을 인자에 딕셔너리를 전달해 생성하기
scientists = pd.DataFrame(
    data={'Position' : ['Biology', 'Chemist'],
            'Nation' : ['England', 'Poland']},
    index = ['C.Darwin','M.Curie'],
    columns = ['Nation','Position']
)

print(scientists)

           Nation Position
C.Darwin  England  Biology
M.Curie    Poland  Chemist

In [7]:
# OrderedDict 순서가 보장된 딕셔너리
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
      ('Name', ['C.Darwin','M.Curie']),
      ('Position', ['Biology', 'Chemist']),
      ('Nation', ['England','Belgium']),
      ('Born', [1902,1904])
]))

print(scientists)

       Name Position   Nation  Born
0  C.Darwin  Biology  England  1902
1   M.Curie  Chemist  Belgium  1904

In [8]:
# Series 선택하기 -> loc 속성에 인덱스 전달하기
scientists = pd.DataFrame(
    data = {
        'Position' : ['Biology','Chemist'],
        'Nation' : ['Nation','Position'],
        'Age' : [67, 33]
    },
    index = ['darwin', 'curie'])

In [9]:
# 시리즈 속성과 메서드 사용하기 - index, values, keys
first_row = scientists.loc['darwin']
print(first_row)
print(first_row.index) # 시리즈의 인덱스가 들어 있다.
print(first_row.values) # 시리즈의 데이터가 저장되어 있다.
print(first_row.keys()) # 시리즈의 인덱스를 리턴한다.
print(first_row.index[0]) # 시리즈의 첫 번째 인덱스 
print(first_row.keys()[0]) # 시리즈의 첫 번째 인덱스

Position    Biology
Nation       Nation
Age              67
Name: darwin, dtype: object
Index(['Position', 'Nation', 'Age'], dtype='object')
['Biology' 'Nation' 67]
Index(['Position', 'Nation', 'Age'], dtype='object')
Position
Position

In [10]:
# 열 추출, 시리즈를 구성하는 데이터가 정수라면 통계 메서드 사용 가능
age = scientists['Age']
print(age)
print(age.sum())
print(age.mean())
print(age.std())
print(age.min())
print(age.max())
print(age.describe()) # 요약 통계량

darwin    67
curie     33
Name: Age, dtype: int64
100
50.0
24.041630560342615
33
67
count     2.000000
mean     50.000000
std      24.041631
min      33.000000
25%      41.500000
50%      50.000000
75%      58.500000
max      67.000000
Name: Age, dtype: float64

In [11]:
scientists = pd.read_csv('../data/scientists.csv')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [12]:
ages = scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [13]:
# 평균 나이보다 나이가 많은 사람의 데이터를 추출
print(ages[ages > ages.mean()])

# 조건식 출력
print(ages > ages.mean())
print(type(ages > ages.mean()))

# 불린 추출 -> 리스트로 형태로 참이나 거짓을 담아 시리즈에 전달하면 참인 인덱스의 데이터만 추출할 수 있다.
manual_bool_values = [True,True,False,False,True,True,False,True]
print(ages[manual_bool_values])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
<class 'pandas.core.series.Series'>
0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [51]:
#브로드캐스팅 - 시리즈나 데이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 것을 뜻함.
#벡터 - 시리즈처럼 여러 개의 값을 가진 데이터
#스칼라 - 단순 크기를 나타내는 데이터
print(ages)

# 같은 길이의 벡터로 더하기 연산과 곱하기 연산을 수행. 결과값으로는 같은 길이의 벡터가 출력된다.
print(ages+ages)

# 벡터에 스칼라 연산 -> 벡터의 모든 값에 스칼라를 적용하여 브로드캐스팅 연산을 함
print(ages+100)

# 크기다 다른 벡터의 연산 -> 계산할 수 없는 부분은 NaN 누락값으로 처리한다.
print(ages + pd.Series([1,100]))

# sort_index 메서드를 사용, ascending 인자로 False를 전달하여 인덱스 연순으로 데이터를 정렬
rev_ages = ages.sort_index(ascending = False)
print(rev_ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [63]:
#벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행한다는 것을 잊지 말자.
print(ages)
print(rev_ages)
print(ages * 2)
print(ages + rev_ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [69]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [73]:
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [77]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [106]:
# 날짜 문자열을 datetime 자료형으로 바꾼다.
print(scientists['Born'])
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

0    1920-07-25
1    1876-06-13
2    1820-05-12
3    1867-11-07
4    1907-05-27
5    1813-03-15
6    1912-06-23
7    1777-04-30
Name: Born, dtype: object
0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [108]:
# 날짜 문자열을 datetime 자료형으로 바꾼다.
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [112]:
# 열 추가
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())
print(scientists.shape)

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14
(8, 7)

In [116]:
# 열 추가
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [120]:
# 섞기
print(scientists['Age'])

import random
random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

/Users/bangchan-u/anaconda3/lib/python3.11/random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [126]:
# 열 삭제
print(scientists.columns)

scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')
                   Name        Born        Died          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16             Chemist
1        William Gosset  1876-06-13  1937-10-16        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13               Nurse
3           Marie Curie  1867-11-07  1934-07-04             Chemist
4         Rachel Carson  1907-05-27  1964-04-14           Biologist
5             John Snow  1813-03-15  1858-06-16           Physician
6           Alan Turing  1912-06-23  1954-06-07  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [130]:
# 피클은 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법이다.
# 피클로 저장하면 스프레드시트보다 더 작은 용량으로 데이터를 저장할 수 있어 매우 편리하다.
# 시리즈를 피클로 저장하기 위해 to_pickle 메서드 사용하기
names = scientists['Name']
names.to_pickle('../output/scientists_names_series.pickle')

In [132]:
scientists.to_pickle('../output/scientists_df.pickle')

In [134]:
# 피클 읽기
scientists_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientists_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [136]:
scientists_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [138]:
# csv 파일과 tsv 파일
# csv 파일은 데이터를 쉼표로 구분하여 저장한 파일이다.
# tsv 파일은 데이터를 탭으로 구분하여 저장한 파일이다.

# 시리즈 또는 데이터프레임을 csv 파일로 저장하기
names.to_csv("../output/scientist_names_series.csv")

# 시리즈 또는 데이터프레임을 tsv 파일로 저장하기 -> 확장자는 .tsv, sep은 tab
scientists.to_csv("../output/scientist_names_series.tsv", sep="\t")

In [ ]:
# 시리즈는 엑셀 구조와 맞지 않기 때문에 엑셀 파일로 저장할 수 없습니다.
# 엑셀 파일로 저장하기 위해서는 데이터프레임으로 변환해야 한다. (데이터프레임은 엑셀파일로 변환 가능)
# 단, xlwt(.xls 저장), openpyxl(.xlsx 저장) 라이브러리가 필요하다.
names_df = names.to_frame()
import xlwt

names_df.to_excel("../output/scientist_names_series.xls")